     body {
         font-family: Arial, sans-serif;
         margin: 0;
         padding: 0;
         line-height: 1.6;
     }

     header {
         background-color: #0ac9eb;
         color: aliceblue;
         padding: 10px 20px;
         text-align: center;
     }

     nav a {
         color: azure;
         margin: 0 15px;
         text-decoration: none;
     }

     nav a.active {
         text-decoration: underline;
         cursor: pointer;
     }

     main {
         padding: 20px;
     }

     .contact-info,
     .contact-form {
         margin-bottom: 20px;
     }

     h2 {
         color: rgb(25, 25, 82);
     }

     form {
         display: flex;
         flex-direction: column;
     }

     label {

         margin-top: 10px;
         padding: 10px;
         border: none;
         border-radius: 5px;
         cursor: pointer;
     }

     input,
     textarea {
         padding: 10px;
         margin-top: 5px;
         border: 1px solid #ccc;
         border-radius: 5px;
         width: 300px;
         height: 20px;
     }

     button {
         margin-top: 10px;
         padding: 10px;
         border: 1px solid rgb(6, 34, 41);
         border-radius: 10px;
     }

     button:hover {
         background-color: rgb(5, 179, 92);
     }

     footer {
         text-align: center;
         padding: 10px;
         background-color: aqua;
         position: relative;
         bottom: 0;
         width: 100%;
     }

     .whatsapp {
         margin-top: 10px;
         padding: 10px;
         background-color: rgb(1, 204, 42);
         color: aliceblue;
         border: none;
         border-radius: 5px;
         cursor: pointer;
     }

     .BTN {
         margin-top: 10px;
         padding: 10px;
         background-color: rgb(20, 109, 3);
         color: rgb(116, 112, 118);
         border: none;
         border-radius: 5px;
         cursor: pointer;
         width: 300px;
         height: 20px;
     }

     .firstBTN {
         background-color: rgb(74, 13, 69);
         cursor: pointer;
         margin-top: 10px;
         padding: 10px;
         border: none;
         border-radius: 5px;
         cursor: pointer;

     }